# Git stuff
alias gs='git stash'
alias gsp='git stash pop'
alias gd='git diff'
alias gdc='git diff --cached'
alias gcm='git commit -m'
alias gpo='git push origin'
alias gri='git rebase -i'
alias gb='git branch'
alias gl='git log'

# used to work, seems to be broken; not sure how to fix.
# alias ffs='git stash && !!'

# Rails stuff
alias be='bundle exec'
alias bi='bundle install --jobs 10'
alias ss='TDD=0 script/server'
alias biss='bundle install --jobs 10 && TDD=0 script/server'
alias dbfix='rake db:migrate && rake db:test:prepare'

# Vagrant stuff
alias va='vagrant'
