# Git stuff
alias gs='git stash'
alias gsp='git stash pop'
alias gd='git diff'
alias gdc='git diff --cached'
alias gl='git log'
alias gc='git checkout '
alias gb='git branch'
alias gcb='git checkout `git branch | fzf`'
alias gg='git fetch && git rebase origin/master'
alias gri='git rebase -i '

# open unmerged/added files
alias gde='vim `git diff --name-only | cat`'

# open untracked files
alias gea="vim `git status --porcelain | awk '{print $2}'`"

# open added files, but not modified files
alias gen="vim `git status --porcelain | sed -e '/\ M/ d' -e 's/A\ \ //'`"

# during rebase, open all files with merge conflicts
alias gre='vim `git diff --name-only --diff-filter=U | cat`'

# during rebase, add all and continue
alias grc='git add . && git rebase --continue'

# used to work, seems to be broken; not sure how to fix.
alias ffs='git stash && `!!`'

# git add a grep match on git status
function ga {
  git add `git status --porcelain | sed 's/ . //' | grep "$1"`
  git status
}

# git reset a grep match on git status
function gr { 
  git reset `git status --porcelain | sed 's/.  //' | grep "$1"`
  git status
}

# find files by name
function ff {
  find . \( ! -regex '.*/\..*' \) -name "$1"
}

# find files by name and open them
function fe {
  vim `ff $1`
}

# quick open with fzf
alias v='vim $(fzf)'

# Rails stuff
alias be='bundle exec'
alias bi='bundle install --jobs 10'
alias ss='TDD=0 script/server'
alias biss='bundle install --jobs 10 && TDD=0 script/server'
alias dbfix='be rake db:migrate && be rake db:test:prepare'
